<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Ships locations!</title>
  <link rel="stylesheet" type="text/css" href="css/game.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
    <div class="container" id="app">
        <table class="table">
          <thead class="thead-dark">
          <tr>
            <th>Top</th>
            <th>Email</th>
            <th>Games</th>
            <th>Won</th>
            <th>Losses</th>
            <th>Ties</th>
            <th>Total(Pts)</th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="(player, index) in players">
            <th scope="row"> {{ index + 1 }} </th>
            <td>{{player.email}}</td>
            <td>{{player.games}}</td>
            <td>{{player.won}}</td>
            <td>{{player.lost}}</td>
            <td>{{player.ties}}</td>
            <td>{{player.total}}</td>
            </td>
          </tr>
          </tbody>
        </table>

        <div>
            <button onclick="createGame()">Create game</button>
        </div>

        <table class="table">
            <h3>Games completed</h3>
            <thead class="thead-dark">
                <tr>
                    <th>N°</th>
                    <th>Player one</th>
                    <th>Player two</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            <tr v-for="game in games">
                <th scope="row"> {{game.id}}</th>
                <td>{{game.players[0].name}}</td>
                <td>{{game.players[1].name}}</td>
                <td v-show="currentUser != 'Guest' && currentUser != game.players[0].name">

                </td>
                </td>
            </tr>
            </tbody>
        </table>
        <div v-if="currentUser == 'Guest'">
        <form id="login-form" onsubmit="return false" >
            <label>Username: <input type="text" name="username"></label>
            <label>Password: <input type="password" name="password"></label>
            <button onclick="login()">LOGIN</button>
        </form>
        <form id="register-form" onsubmit="return false" class="d-flex flex-column w-25">
            <label>Username: <input type="email" name="username" required></label>
            <label>Password: <input type="password" name="password" required></label>
            <label>password2: <input type="password" name="password2" required></label>
            <button onclick="register()">Register</button>
        </form>
        </div>
        <form id="logout-form" onsubmit="return false" v-else>
            <button onclick="logout()">Log out</button>
        </form>
      </div>



    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="js/popper.min.js"></script>
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="./js/game.js"></script>
</body>
</html>